
@{
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1>Hello This is About Us</h1>
    </div>
</body>
</html>